# ==============================================================================
# LinLog build-logic 模块专用 .gitignore
# ==============================================================================

.gradle/
build/
**/build/
.kotlin/
.kotlin-daemon/

*.iml
.idea/

.DS_Store
.DS_Store?
._*
